<div class="flex justify-between">

  <a routerLink="/index" class="w-[6%]">
    <img src="../../assets/images/logo.png" alt="headless_logo">
  </a>

  <ul class="flex justify-between p-8 items-center gap-6 w-[50%]">
    <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/">
        Home
      </a>
    </li>

    <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
      <a routerLink="/collection">
        Collection
      </a>
    </li>
    <li *ngIf="!(auth.isAuthenticated$ | async)"
      class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
      <a routerLink="/aboutus">
        About Us
      </a>
    </li>
    <li *ngIf="!(auth.isAuthenticated$ | async); else authLinks"
      class="cursor-pointer hover:scale-110 transition-all hover:font-extrabold bg-[#1e293b] py-2 px-4 rounded-md"
      [routerLinkActive]="'active'">
      <a (click)="openModal($event)">
        Login / SignUp
      </a>
    </li>
    <ng-template #authLinks>
      <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
        <a routerLink="/manage">
          Manage
        </a>
      </li>
      <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
        <a routerLink="/upload">
          Upload
        </a>
      </li>
      <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
        <a routerLink="aboutus">
          About Us
        </a>
      </li>
      <li class="cursor-pointer hover:text-[#1e293b] hover:font-extrabold transition-all" [routerLinkActive]="'active'">
        <a (click)="auth.logout($event)">
          Logout
        </a>
      </li>
    </ng-template>

  </ul>

</div>